<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <style>
        #container{
            margin:0 10%;
        }
    </style>
</head>
<body>
    <div id="app">
        <nav class="navbar nav sticky-top navbar-dark bg-dark navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/admin">Milk Revolution</a>
                </div>
                <ul class="nav justify-content-center">
                    <li><h4 style="color:white">Send Email To You Clients</h4></li>
                </ul>
                <ul class="nav justify-content-right">
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div id="sidenav">
                <ul>
                    <div style="margin-top:40px;"></div>
                    <li><p> Date {{date}}</p></li>
                    <li><a href="/admin">Dashboard</a></li>
                    <li><a href="/admin/buy">Buyers</a></li>
                    <li><a href="/admin/sell">Sellers</a></li>
                    <li><a href="/admin/pending">Pending</a></li>
                    <li><a href="/admin/products">Products</a></li>
                    <li><a href="/admin/stock">Stock</a></li>
                    <li><a  class="act"href="/admin/email">Email</a></li>
                </ul>
            </div>
            <div class="main">
                <h3 class="text-center">Email Service</h3>
                <div id="container">
                    <form action="/admin/email" method="post" autocapitalize="off" autocomplete="off">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">From</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="meril@milkrevolution.in">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">To</label>
                            <div class="col-sm-10">
                                <input type="email" name="to" class="form-control" id="staticEmail" placeholder="Enter Email Address" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" name="sub" class="form-control" id="staticEmail" placeholder="Enter Email Subject" required >
                            </div>
                        </div>
                        <div>
                            <span style="color: red">*Note</span> 
                            <ol>
                                <li>Use Html For Better Usage</li>
                                <li>Use <%="<br>"%> for Line break</li>
                                <li> Use <%="<strong> </strong>"%>tag For Bolding Characters like this <strong>Hello !</strong></li>
                                <li> Use Inline Styling For Giving Colors like <%=`<span style="color: red">Red</span>`%> for <span style="color: red">Red</span> </li>
                            </ol>
                             
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Body Of Your Mail</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"  required v-model="mailbody"></textarea>
                        </div>
                        <div style="display: none">
                            <input type="text" name="body" :value="mailbody1">
                        </div>
                        <button type="submit" class="btn btn-dark btn-lg btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        new Vue({
        el:'#app',
        data:{
            date:'',
            mailbody:'',
            mailbody1:''
        },
        created() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            let month = Number(date.getMonth() ) + 1
            this.date =   date.getDate() + "/" + month  + "/" + date.getFullYear() ;
        },
        watch: {
            mailbody(){
                // console.log(this.mailbody);
                this.mailbody1= this.mailbody.replace(/\n/gi, '<br>')
                this.mailbody1 = this.mailbody.replace(/ /gi, '&nbsp;')
            }
        },
    })
    </script>
</body>
</html>